language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
before_install:
 - sudo apt-get update
 - sudo apt-get install ledger
 - sudo apt-get install hledger
install: "pip install -r requirements.txt"
# command to run tests
script: pytest
